<div>
  <h1>Structural Directive</h1>
</div>
<!-- * is the syntactic sugar which will put the whole Html inside the <ng-template></ng-template> -->
<!-- basically is looks like this c

<ng-template appHideAfter >
  <div class="container">
    <h1>Here is the example of Advance Angular Directive concept</h1>
  </div>
</ng-template> 

-->

<!-- Note : whenever we tries to data like [delay]="5000", gives you an error bcz angular tries to
  resolve this inside div but the directive is applied to <ng-template></ng-template> 
  basically we can say that through it looks like the directive is applied to a DOM element,
  in fact it is applied to ng-template which wraps that HTml. That's why angular considers [delay] property as
  a property of <div> tag, rather then the input of directives
-->

<!-- 
  <div class="container" [delay]="5000" *appHideAfter>
        <h1>Here is the example of Advance Angular Directive concept</h1>
  </div> 
-->

<!-- #this will works -->
<!-- 
  <ng-template appHideAfter [delay]="5000" >
    <div class="container">
      <h1>Here is the example of Advance Angular Directive concept</h1>
    </div>
  </ng-template> 
 -->

<div class="container" *appHideAfter="5000 later elseBlock">
  <h1>Here is the example of Advance Angular Directive concept</h1>
</div>

<ng-template #elseBlock>
  <div>
    <h1>This is the then Block</h1>
  </div>
</ng-template>